.body-circle {
  max-width: rem(534);
  width: percent(534, 669);
  min-width: rem(290);

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  // padding-top: percent(75, 669);
  @include adaptiveValue('padding-top', 75, 0, $containerWidth, 600);
  @include adaptiveValue('padding-bottom', 125, 0, $containerWidth, 600);

  // .body-circle__title
  &__title {
  }

  // .body-circle__button
  &__button {
  }

  &__label {
    font-size: rem(20);
    font-weight: 700;
    line-height: rem(36); /* 180% */
    letter-spacing: rem(0.8);

    @media (max-width: $mobile) {
      line-height: rem(32);
    }
  }

  &_centered {
    @include adaptiveValue('padding-top', 110, 0, $containerWidth, 600);
    @include adaptiveValue('padding-bottom', 90, 0, $containerWidth, 600);
    // padding: 0;
    // justify-content: center;
    // row-gap: rem(50);
    text-align: center;
  }

  &_fs-smaller {
    .body-circle__title {
      @include adaptiveValue('font-size', 42, 22, $containerWidth, 800, 1);
    }
  }
}
