.body-circle {
  max-width: rem(534);
  width: percent(534, 669);
  min-width: rem(290);

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  // padding-top: percent(75, 669);
  @include adaptiveValue('padding-top', 75, 0, $containerWidth, 600);
  @include adaptiveValue('padding-bottom', 125, 0, $containerWidth, 600);

  // .body-circle__title
  &__title {
    &:not(.title) {
      margin-bottom: rem(20);
      @include adaptiveValue('font-size', 26, 18, 767.98, 400, 1);
      font-weight: 300;
      line-height: rem(34);
      letter-spacing: rem(1.04);
      text-transform: uppercase;

      strong {
        font-weight: 700;
      }
    }
  }

  // .body-circle__button
  &__button {
  }

  &__label {
    font-size: rem(20);
    font-weight: 700;
    line-height: rem(36); /* 180% */
    letter-spacing: rem(0.8);

    @media (max-width: $mobile) {
      line-height: rem(32);
    }
  }

  // .body-circle__form
  &__form {
    max-width: rem(374);
    margin: 0 auto;
  }

  // .body-circle__name
  &__name {
    margin-bottom: rem(13);
  }

  // .body-circle__tel
  &__tel {
  }

  // .body-circle__consent
  &__consent {
    @include adaptiveValue('margin-top', 45, 10, 767.98, $minWidth, 1);
    @include adaptiveValue('margin-bottom', 45, 10, 767.98, $minWidth, 1);

    @media (max-width: $mobile) {
      input[type='checkbox'] + label span:nth-child(2) {
        line-height: 1;
        letter-spacing: normal;
        padding-top: rem(7);
      }
    }
  }

  // .body-circle__submit
  &__submit {
    button {
      width: rem(221);
    }
  }

  &_centered {
    @include adaptiveValue('padding-top', 110, 0, $containerWidth, 600);
    @include adaptiveValue('padding-bottom', 90, 0, $containerWidth, 600);
    // padding: 0;
    // justify-content: center;
    // row-gap: rem(50);
    text-align: center;
  }

  &_fs-smaller {
    .body-circle__title {
      @include adaptiveValue('font-size', 42, 22, $containerWidth, 800, 1);
    }
  }

  &_static-padding {
    @include adaptiveValue('padding-top', 145, 0, 767.98, 360, 1);
    @include adaptiveValue('padding-bottom', 90, 0, 767.98, 360, 1);
    text-align: center;
    // min-height: rem(500);

    @media (max-width: em(570)) {
      width: auto;
    }
  }
}
