.gallery {
   // .gallery__main-slider
   &__main-slider {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 45, 11);
      }
   }
   // .gallery__main-wrapper
   &__main-wrapper {
   }
   // .gallery__main-slide
   &__main-slide {
      img {
         width: 100%;
         @include adaptiveValue("border-radius", 30, 20);
         aspect-ratio: 1008/727;
      }
   }
   // .gallery__thumbs-slider
   &__thumbs-slider {
   }
   // .gallery__thumbs-wrapper
   &__thumbs-wrapper {
   }
   // .gallery__thumbs-slide
   &__thumbs-slide {
      img {
         width: 100%;
         @include adaptiveValue("border-radius", 20, 10);
         aspect-ratio: 224/160;
      }
   }
}
