.projects {
  position: relative;

  // .projects__background
  &__background {
  }

  // .projects__container
  &__container {
    @include adaptiveValue('padding-top', 200, 120);
    @include adaptiveValue('padding-bottom', 115, 70);

    text-align: center;
  }

  // .projects__header
  &__header {
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 40, 30);
    }
  }

  // .projects__descr
  &__descr {
    line-height: rem(28);

    @media (max-width: $mobile) {
      line-height: rem(24);
    }

    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 70, 50);
    }
  }

  // .projects__slider
  &__slider {
    position: relative;

    @include adaptiveValue('--size-shadow', 20, 10);

    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 100, 45);
    }
  }

  // .projects__wrapper-slider
  &__wrapper-slider {
  }

  // .projects__slide
  &__slide {
    padding: rem(20);
    padding-bottom: rem(50);
    min-width: rem(290);

    @media (min-width: $mobileSmall) {
      flex: 0 0 percent(620, 1712.5);
    }
  }

  // .projects__button-slide
  &__button-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include adaptiveValue('width', 75, 40);

    &.button-slide_prev {
      left: var(--size-shadow);
    }

    &.button-slide_next {
      right: var(--size-shadow);
    }
  }

  // .projects__text
  &__text {
    font-size: rem(26);
    font-weight: 300;
    line-height: rem(34);
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: rem(45);
    }

    @media (max-width: $mobileSmall) {
      font-size: rem(20);
    }
  }

  // .projects__button
  &__button {
    @media (max-width: $mobileSmall) {
      .button {
        max-width: rem(220);
        padding: rem(11) rem(23);
      }
    }
  }
}
