.promo {
   min-height: 100vh;
   position: relative;

   display: flex;

   &__image-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
   // .promo__container
   &__container {
      @include adaptiveValue("padding-top", 151, 118);
      @include adaptiveValue("padding-bottom", 74, 83);
      // padding-bottom: clamp(rem(74), vh(74, 1080), rem(83));
      position: relative;

      flex-grow: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      &_wide {
         max-width: rem(1678);
      }
      @media (min-width: $pc) and (max-height: em(1079)) {
         padding-bottom: rem(40);
      }
      & > * {
         z-index: 1;
      }
   }
   &__wrap {
   }
   // .promo__header
   &__header {
      max-width: rem(1264);
      text-align: center;
   }
   &__picture {
      position: relative;
      flex-grow: 1;
      // height: rem(394); 309
      // @include adaptiveValue("flex-basis", 375, 309);
      flex-basis: percent(383, 929);
      min-height: rem(309);
      max-height: rem(383);
      width: 100%;
      @media (min-width: $pc) and (max-height: em(1079)) {
         max-height: none;
      }
      z-index: auto;
   }
   &__build-block {
      position: absolute;
      &_center {
         // width: 100%;
         height: percent(542, 383);
         aspect-ratio: 752 / 542;
         top: percent(-60, 383);
         // top: 50%;
         // left: percent(332, 1522);
         left: 43%;
         transform: translate(-43%, 0);
         z-index: 1;
      }
      &_left {
         height: percent(269, 383);
         aspect-ratio: 373 / 269;
         top: percent(20, 383);
         left: percent(62, 1522);
      }
      &_right {
         height: percent(523, 383);
         aspect-ratio: 726 / 523;
         top: percent(58, 383);
         left: percent(931, 1522);
         z-index: 1;
      }
   }

   &__build-img,
   &__balloon-img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
   }
   &__cloud {
      position: absolute;
      top: 0;
      left: 0;
      &:nth-child(3n + 1) {
         animation: clouds 24s linear alternate infinite;
      }
      &:nth-child(3n + 2) {
         animation: clouds 32s linear alternate-reverse infinite;
      }
      &:nth-child(3n + 3) {
         animation: clouds 40s linear alternate infinite;
      }
      @keyframes clouds {
         // 0% {
         //    transform: translateX(-50%);
         //    opacity: 0;
         // }
         // 10% {
         //    opacity: 1;
         // }
         // 90% {
         //    opacity: 1;
         // }
         // 100% {
         //    transform: translateX(50%);
         //    opacity: 0;
         // }
      }
      &_1 {
         left: percent(316, 752);
         top: percent(360, 542);
      }
      &_2 {
         left: percent(3, 752);
         top: percent(359, 542);
      }
      &_3 {
         left: percent(5, 752);
         top: percent(360, 542);
      }
      &_4 {
         left: percent(482, 752);
         top: percent(374, 542);
      }
      &_5 {
         left: percent(605, 752);
         top: percent(379, 542);
      }
      &_7 {
         left: percent(57, 752);
         top: percent(384, 542);
      }
      &_6 {
         left: percent(156, 752);
         top: percent(374, 542);
      }
      &_8 {
         left: percent(370, 752);
         top: percent(373, 542);
      }
      &_9 {
         left: percent(-183, 752);
         top: percent(374, 542);
      }
      &_11 {
         left: percent(670, 752);
         top: percent(379, 542);
      }
      &_10 {
         left: percent(752 + 84, 752);
         top: percent(379, 542);
      }
      &_12 {
         left: percent(322, 752);
         top: percent(373, 542);
      }
      &_13 {
         left: percent(2, 373);
         top: percent(180, 269);
      }
      &_14 {
         left: percent(2, 373);
         top: percent(180, 269);
      }
      &_15 {
         left: percent(58, 373);
         top: percent(180, 269);
      }
      &_16 {
         left: percent(84, 373);
         top: percent(180, 269);
      }
      &_17 {
         left: percent(147, 373);
         top: percent(180, 269);
      }
      &_18 {
         left: percent(147, 373);
         top: percent(180, 269);
      }
      &_19 {
         left: percent(197, 373);
         top: percent(180, 269);
      }
      &_20 {
         left: percent(277, 373);
         top: percent(180, 269);
      }
      &_21 {
         left: percent(523, 726);
         top: percent(324, 523);
      }
      &_22 {
         left: percent(511, 726);
         top: percent(343, 523);
      }
      &_23 {
         left: percent(41, 373);
         top: percent(180, 269);
      }
      &_24 {
         left: percent(100, 373);
         top: percent(217, 269);
      }
   }
   &__balloon {
      position: absolute;
      width: percent(74, 1522);
      min-width: rem(35);
      aspect-ratio: 74/98;
      bottom: 100%;
      right: percent(129, 1522);
      &_bloor {
         width: percent(44, 1522);
         min-width: rem(21);
         right: percent(200, 1522);
         bottom: auto;
         top: percent(20, 383);
      }
   }
   // .promo__leave-request
   &__leave-request {
      // display: flex;
      // justify-content: center;
      // align-items: flex-end;

      &:not(:last-child) {
         margin-bottom: rem(55);
         // margin-bottom: vh(50, 1080);
         // margin-bottom: clamp(rem(10), vh(50, 1080), rem(55));
         @media (min-width: $pc) and (max-height: em(1079)) {
            margin-bottom: rem(20);
         }
      }
   }
   // .promo__scroll
   &__scroll {
      position: absolute;
      top: 50%;
      left: rem(15);
      transform: translateY(-50%);
   }
   &__advantages {
      --card-advantage-w: #{rem(263)};
      --card-advantage-pt: #{rem(35)};
      --card-advantage-pl: #{rem(40)};
      @media (min-width: em(1700)) {
         margin: 0 rem(-78);
      }
      @media (min-width: $pc) and (max-height: em(1079)) {
         --card-advantage-pt: #{rem(20)};
      }
   }
}
