%base-bold {
   font-size: rem(16);
   font-weight: 700;
   line-height: 1.5;
   letter-spacing: rem(0.64);
}
%base {
   font-size: rem(16);
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: rem(0.64);
}

%small {
   font-size: rem(14);
   font-weight: 450;
   line-height: rem(22);
   @media (max-width: $mobile) {
      font-size: rem(13);
      letter-spacing: rem(-0.78);
   }
}
