$color-main: #000;
$color-white: #fff;
$color-gray: #828282;
$color-gray-light: #d7dad8;
$color-gray-light2: #d9d9d9;
$color-blue-steel: #4899b9;
$color-razzmatazz: #ff374f;
$color-slate-gray: #728095;
$color-steel-blue: #63afcd;
$color-blue-gray: #edf4f4;
$color-blue-gray-2: #495d7c;
$color-pastel-blue: #9edaf0;

$color-modal-bg: #fff;
$color-modal-backdrop: rgba($color-main, 0.5);